body {
	width: 100%;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	background-image: url(images/background.jpg);
	background-size: 100%;
	background-attachment: fixed;
	font-family: 'Open Sans';
}

.v-mid {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;

	-webkit-align-items: center;
	   -moz-align-items: center;
		-ms-align-items: center;
			align-items: center;
}

.card {
	width: 630px;
	height: 450px;
	background-color: white;
	margin: 0px auto;
	border-radius: 5px;
	background-image: url(images/card-background.jpg);
	position: relative;
}

.sidebar {
	width: 125px;
	height: 100%;
	background-color: white;
	border-radius: 0px 5px 5px 0px;
	position: absolute;
	top: 0px;
	right: 0px;
}

.item {
	height: 33.3%;
	color: #999999;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}

.item.active, .item:hover {
	color: #1D2039;
}

.item > div {
	margin: 0px auto;
}

.item i {
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}

.menu {
	height: 80px;
	margin-right: 125px;
	padding: 10px 0px;
	border-top: 1px solid rgba(255,255,255,0.3);
	color: white;
	font-size: 14px;
	font-weight: 600;
}

.action {
	width: 125px;
	padding: 15px 0px;
	display: inline-block;
	text-align: center;
	border-right: 1px solid rgba(255,255,255,0.3);
	cursor: pointer;
}

.action:nth-child(4) {
	border-right: none;
}

.action:hover {
	color: rgba(255,255,255,0.6);
}

.action i {
	font-size: 24px;
	line-height: 24px;
	margin-bottom: 7px;
}

.avatar {
	height: 300px;
	margin-right: 125px;
	padding-top: 50px;
}

.profile {
	width: 150px;
	height: 150px;
	border-radius: 75px;
	margin: 0px auto;
	background-image: url(images/sticker.jpg);
}

.bubble {
	width: 160px;
	height: 48px;
	border-radius: 5px;
	margin: 0px auto;
	margin-top: 25px;
	padding-top: 12px;
	background-color: white;
	text-align: center;
	position: relative;
	overflow: visible;
}

.bubble:before {
	content: '';
	width: 0px;
	height: 0px;
	border-color: transparent transparent white transparent;
	border-width: 0px 5px 5px 5px;
	border-style: solid;
	position: absolute;
	top: -5px;
	left: 50%;
	margin-left: -5px;
}

.name {
	font-size: 14px;
	font-weight: 600;
	color: #0B1F3F;
}

.mail {
	font-size: 12px;
	font-style: italic;
	color: #A2A6AE;
}