body {
	width: 100%;
	height: 100vh;
	margin: 0px;
	padding: 0px;
	background-color: #FDC3B2;
	font-family: 'Open Sans';

	background: -webkit-linear-gradient(135deg, #A9F8EA 50%, #FDC3B2 50%);
	background:	   -moz-linear-gradient(135deg, #A9F8EA 50%, #FDC3B2 50%);
	background:		 -o-linear-gradient(135deg, #A9F8EA 50%, #FDC3B2 50%);
	background:			linear-gradient(135deg, #A9F8EA 50%, #FDC3B2 50%);
}

.v-mid {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;

	-webkit-align-items: center;
	   -moz-align-items: center;
		-ms-align-items: center;
			align-items: center;
}

#player {
	width: 885px;
	height: 300px;
	background-color: white;
	margin: 0px auto;
}

.board {
	height: 300px;
	display: inline-block;
	vertical-align: top;
}

#cover {
	width: 300px;
	background-image: url(images/cover.jpg);
	background-size: 300px;
}

#control {
	width: 585px;
	position: relative;
	text-align: center;
	color: #1C1C1C;
}

h3 {
	font-size: 32px;
	line-height: 32px;
	font-weight: 400;
	letter-spacing: 2px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.sub {
	font-size: 16px;
	line-height: 16px;
	font-weight: 300;
	letter-spacing: 1px;
}

#progress {
	width: 365px;
	height: 10px;
	margin: 0px auto;
	margin-top: 25px;
	padding-top: 15px;
	position: relative;
}

.time {
	font-size: 10px;
	font-weight: 800;
	line-height: 10px;
	position: absolute;
	top: 0px;
	left: -5px;
}

.time.total {
	color: #26A3FD;
	left: auto;
	right: -5px;
}

.bar {
	width: 100%;
	height: 10px;
	background-color: #D7DEE3;
	position: relative;
}

.bar:before, .bar:after,
.current:before, .current:after {
	content: '';
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #D7DEE3;
	position: absolute;
	top: 0px;
	left: -5px;
}

.bar:after, .current:after {
	left: auto;
	right: -5px;
}

.current {
	width: 24%;
	height: 100%;
	background-color: #26A3FD;
	z-index: 3;
	position: relative;
}

.current:before, .current:after {
	background-color: #26A3FD;
}

.btn {
	cursor: pointer;

	-webkit-transition: all 0.2s;
	   -moz-transition: all 0.2s;
		 -o-transition: all 0.2s;
			transition: all 0.2s;
}

.btn:hover {
	opacity: 0.75;
}

#progress i.fa {
	font-size: 16px;
	line-height: 16px;
	position: absolute;
	bottom: -36px;
	left: -3px;
}

#progress i.fa-random {
	left: auto;
	right: -3px;
}

#plays {
	margin-top: 50px;
	color: #43434C;
}

#plays .btn {
	padding:  0px 25px;
	display: inline-block;
	vertical-align: top;
}

#plays i.fa {
	font-size: 20px;
	line-height: 36px;
}

#plays i.fa-play {
	font-size: 36px;
}