.answitch {
	width: 200px;
	height: 100px;
	background-color: white;
	border-radius: 999px;
	overflow: auto;
}

.answitch .circle {
	width: 45%;
	height: 90%;
	background-color: #F3E5D3;
	border-radius: 999px;
	margin-top: 2.5%;
	margin-left: 5%;
	cursor: pointer;
	position: relative;

	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
		 -o-transition: all .5s;
			transition: all .5s;
}

.answitch.checked .circle {
	margin-left: 50%;
	background-color: #7E86F9;
	box-shadow: 0px 3px 5px rgba(123,134,249,0.5);
}

.an-line {
	width: 50%;
	height: 5%;
	min-height: 2px;
	background-color: white;
	border-radius: 999px;
	position: absolute;
	top: 48%;
	left: 24%;

	-webkit-transition: all .5s;
	   -moz-transition: all .5s;
		 -o-transition: all .5s;
			transition: all .5s;
}

.an-left {
	-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
			transform: rotate(45deg);
}

.an-right {
	-webkit-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
			transform: rotate(135deg);
}

.checked .an-left {
	width: 30%;
	top: 60%;
	left: 15%;
	-webkit-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
			transform: rotate(225deg);
}

.checked .an-right {
	width: 60%;
	top: 50%;
	left: 30%;
	-webkit-transform: rotate(315deg);
		-ms-transform: rotate(315deg);
			transform: rotate(315deg);
}