body {
	height: 100vh;
	background-color: #232327;
	overflow: auto;

	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;

	-webkit-align-items: center;
	   -moz-align-items: center;
		-ms-align-items: center;
			align-items: center;
}

.wp {
	width: 90vw;
	height: 22.5vw;
	margin-left: 2.5vw;
}

.wp > div {
	width: 4.5vw;
	height: 4.5vw;
	display: inline-block;
	background-color: #C76261;
	vertical-align: bottom;
	opacity: 0;

	-webkit-animation-duration: 5s;
			animation-duration: 5s;
	-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
}

.wp > div:nth-child(1) {
	-webkit-animation-name: div1;
			animation-name: div1;
}

@keyframes div1 {
	40%, 50% {
		opacity: 1;
	}
	from, 39%, 51%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(2) {
	-webkit-animation-name: div2;
			animation-name: div2;
}

@keyframes div2 {
	20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(3) {
	-webkit-animation-name: div3;
			animation-name: div3;
}

@keyframes div3 {
	20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(4) {
	-webkit-animation-name: div4;
			animation-name: div4;
}

@keyframes div4 {
	20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(5) {
	-webkit-animation-name: div5;
			animation-name: div5;
}

@keyframes div5 {
	from, 10%, 40%, 50% {
		opacity: 1;
	}
	11%, 39%, 51%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(7) {
	-webkit-animation-name: div7;
			animation-name: div7;
}

@keyframes div7 {
	from, 10%, 40%, 50% {
		opacity: 1;
	}
	11%, 39%, 51%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(8) {
	-webkit-animation-name: div8;
			animation-name: div8;
}

@keyframes div8 {
	20%, 30%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(9) {
	-webkit-animation-name: div9;
			animation-name: div9;
}

@keyframes div9 {
	from, 10%, 20%, 30%, 60%, 70%, 80%, 90% {
		opacity: 1;
	}
	11%, 19%, 31%, 59%, 71%, 79%, 91%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(10) {
	-webkit-animation-name: div10;
			animation-name: div10;
}

@keyframes div10 {
	from, 10%, 40%, 50% {
		opacity: 1;
	}
	11%, 39%, 51%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(11) {
	-webkit-animation-name: div11;
			animation-name: div11;
}

@keyframes div11 {
	from, 10% {
		opacity: 1;
	}
	11%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(12) {
	-webkit-animation-name: div12;
			animation-name: div12;
}

@keyframes div12 {
	from, 10%, 20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	11%, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(13) {
	-webkit-animation-name: div13;
			animation-name: div13;
}

@keyframes div13 {
	20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(14) {
	-webkit-animation-name: div14;
			animation-name: div14;
}

@keyframes div14 {
	from, 10%, 20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	11%, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(15) {
	-webkit-animation-name: div15;
			animation-name: div15;
}

@keyframes div15 {
	20%, 30%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(16) {
	-webkit-animation-name: div16;
			animation-name: div16;
}

@keyframes div16 {
	from, 10% {
		opacity: 1;
	}
	11%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(17) {
	-webkit-animation-name: div17;
			animation-name: div17;
}

@keyframes div17 {
	20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(18) {
	-webkit-animation-name: div18;
			animation-name: div18;
}

@keyframes div18 {
	20%, 30% {
		opacity: 1;
	}
	from, 19%, 31%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(19) {
	-webkit-animation-name: div19;
			animation-name: div19;
}

@keyframes div19 {
	20%, 30% {
		opacity: 1;
	}
	from, 19%, 31%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(20) {
	-webkit-animation-name: div20;
			animation-name: div20;
}

@keyframes div20 {
	20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

/************************
*************************
************************/

.wp > div:nth-child(22) {
	-webkit-animation-name: div22;
			animation-name: div22;
}

@keyframes div22 {
	20%, 30%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(23) {
	-webkit-animation-name: div23;
			animation-name: div23;
}

@keyframes div23 {
	40%, 50% {
		opacity: 1;
	}
	from, 39%, 51%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(24) {
	-webkit-animation-name: div24;
			animation-name: div24;
}

@keyframes div24 {
	20%, 30% {
		opacity: 1;
	}
	from, 19%, 31%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(25) {
	-webkit-animation-name: div25;
			animation-name: div25;
}

@keyframes div25 {
	from, 10%, 20%, 30%, 60%, 70% {
		opacity: 1;
	}
	11%, 19%, 31%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(27) {
	-webkit-animation-name: div27;
			animation-name: div27;
}

@keyframes div27 {
	from, 10%, 40%, 50% {
		opacity: 1;
	}
	11%, 39%, 51%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(28) {
	-webkit-animation-name: div28;
			animation-name: div28;
}

@keyframes div28 {
	20%, 30%, 60%, 70%, 80%, 90% {
		opacity: 1;
	}
	from, 19%, 31%, 59%, 71%, 79%, 91%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(29) {
	-webkit-animation-name: div29;
			animation-name: div29;
}

@keyframes div29 {
	from, 10%, 20%, 30%, 60%, 70% {
		opacity: 1;
	}
	11%, 19%, 31%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(30) {
	-webkit-animation-name: div30;
			animation-name: div30;
}

@keyframes div30 {
	40%, 50% {
		opacity: 1;
	}
	from, 39%, 51%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(32) {
	-webkit-animation-name: div32;
			animation-name: div32;
}

@keyframes div32 {
	from, 10%, 20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	11%, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(34) {
	-webkit-animation-name: div34;
			animation-name: div34;
}

@keyframes div34 {
	from, 10% {
		opacity: 1;
	}
	11%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(35) {
	-webkit-animation-name: div35;
			animation-name: div35;
}

@keyframes div35 {
	40%, 50% {
		opacity: 1;
	}
	from, 39%, 51%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(36) {
	-webkit-animation-name: div36;
			animation-name: div36;
}

@keyframes div36 {
	from, 10% {
		opacity: 1;
	}
	11%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(37) {
	-webkit-animation-name: div37;
			animation-name: div37;
}

@keyframes div37 {
	20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(38) {
	-webkit-animation-name: div38;
			animation-name: div38;
}

@keyframes div38 {
	40%, 50% {
		opacity: 1;
	}
	from, 39%, 51%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(39) {
	-webkit-animation-name: div39;
			animation-name: div39;
}

@keyframes div39 {
	60%, 70% {
		opacity: 1;
	}
	from, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(40) {
	-webkit-animation-name: div40;
			animation-name: div40;
}

@keyframes div40 {
	40%, 50% {
		opacity: 1;
	}
	from, 39%, 51%, to {
		opacity: 0;
	}
}

/************************
*************************
************************/

.wp > div:nth-child(42) {
	-webkit-animation-name: div42;
			animation-name: div42;
}

@keyframes div42 {
	20%, 30%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(43) {
	-webkit-animation-name: div43;
			animation-name: div43;
}

@keyframes div43 {
	20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(44) {
	-webkit-animation-name: div44;
			animation-name: div44;
}

@keyframes div44 {
	20%, 30%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(45) {
	-webkit-animation-name: div45;
			animation-name: div45;
}

@keyframes div45 {
	from, 10% {
		opacity: 1;
	}
	11%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(46) {
	-webkit-animation-name: div46;
			animation-name: div46;
}

@keyframes div46 {
	from, 10% {
		opacity: 1;
	}
	11%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(47) {
	-webkit-animation-name: div47;
			animation-name: div47;
}

@keyframes div47 {
	from, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
		opacity: 1;
	}
	11%, 19%, 31%, 39%, 51%, 59%, 71%, 79%, 91%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(48) {
	-webkit-animation-name: div48;
			animation-name: div48;
}

@keyframes div48 {
	80%, 90%{
		opacity: 1;
	}
	from, 79%, 91%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(49) {
	-webkit-animation-name: div49;
			animation-name: div49;
}

@keyframes div49 {
	from, 10%, 80%, 90% {
		opacity: 1;
	}
	11%, 79%, 91%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(50) {
	-webkit-animation-name: div50;
			animation-name: div50;
}

@keyframes div50 {
	20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, 59%, 71%, 79%, 91%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(51) {
	-webkit-animation-name: div51;
			animation-name: div51;
}

@keyframes div51 {
	80%, 90% {
		opacity: 1;
	}
	from, 79%, 91%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(52) {
	-webkit-animation-name: div52;
			animation-name: div52;
}

@keyframes div52 {
	from, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
		opacity: 1;
	}
	11%, 19%, 31%, 39%, 51%, 59%, 71%, 79%, 91%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(53) {
	-webkit-animation-name: div53;
			animation-name: div53;
}

@keyframes div53 {
	40%, 50%, 80%, 90% {
		opacity: 1;
	}
	from, 39%, 51%, 79%, 91%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(54) {
	-webkit-animation-name: div54;
			animation-name: div54;
}

@keyframes div54 {
	from, 10%, 20%, 30%, 40%, 50%, 80%, 90% {
		opacity: 1;
	}
	11%, 19%, 31%, 39%, 51%, 79%, 91%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(55) {
	-webkit-animation-name: div55;
			animation-name: div55;
}

@keyframes div55 {
	from, 10%, 20%, 30%, 80%, 90% {
		opacity: 1;
	}
	11%, 19%, 31%, 79%, 91%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(56) {
	-webkit-animation-name: div56;
			animation-name: div56;
}

@keyframes div56 {
	from, 10% {
		opacity: 1;
	}
	11%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(57) {
	-webkit-animation-name: div57;
			animation-name: div57;
}

@keyframes div57 {
	20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(58) {
	-webkit-animation-name: div58;
			animation-name: div58;
}

@keyframes div58 {
	20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(59) {
	-webkit-animation-name: div59;
			animation-name: div59;
}

@keyframes div59 {
	20%, 30%, 40%, 50% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(60) {
	-webkit-animation-name: div60;
			animation-name: div60;
}

@keyframes div60 {
	40%, 50% {
		opacity: 1;
	}
	from, 39%, 51%, to {
		opacity: 0;
	}
}

/************************
*************************
************************/

.wp > div:nth-child(62) {
	-webkit-animation-name: div62;
			animation-name: div62;
}

@keyframes div62 {
	20%, 30%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(63) {
	-webkit-animation-name: div63;
			animation-name: div63;
}

@keyframes div63 {
	40%, 50% {
		opacity: 1;
	}
	from, 39%, 51%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(65) {
	-webkit-animation-name: div65;
			animation-name: div65;
}

@keyframes div65 {
	60%, 70% {
		opacity: 1;
	}
	from, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(67) {
	-webkit-animation-name: div67;
			animation-name: div67;
}

@keyframes div67 {
	from, 10%, 20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	11%, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(68) {
	-webkit-animation-name: div68;
			animation-name: div68;
}

@keyframes div68 {
	20%, 30%, 60%, 70%, 80%, 90% {
		opacity: 1;
	}
	from, 19%, 31%, 59%, 71%, 79%, 91%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(69) {
	-webkit-animation-name: div69;
			animation-name: div69;
}

@keyframes div69 {
	from, 10%, 20%, 30%, 60%, 70% {
		opacity: 1;
	}
	11%, 19%, 31%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(70) {
	-webkit-animation-name: div70;
			animation-name: div70;
}

@keyframes div70 {
	20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(72) {
	-webkit-animation-name: div72;
			animation-name: div72;
}

@keyframes div72 {
	from, 10%, 20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	11%, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(74) {
	-webkit-animation-name: div74;
			animation-name: div74;
}

@keyframes div74 {
	40%, 50% {
		opacity: 1;
	}
	from, 39%, 51%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(75) {
	-webkit-animation-name: div75;
			animation-name: div75;
}

@keyframes div75 {
	20%, 30% {
		opacity: 1;
	}
	from, 19%, 31%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(76) {
	-webkit-animation-name: div76;
			animation-name: div76;
}

@keyframes div76 {
	from, 10% {
		opacity: 1;
	}
	11%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(77) {
	-webkit-animation-name: div77;
			animation-name: div77;
}

@keyframes div77 {
	20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(79) {
	-webkit-animation-name: div79;
			animation-name: div79;
}

@keyframes div79 {
	40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(80) {
	-webkit-animation-name: div80;
			animation-name: div80;
}

@keyframes div80 {
	40%, 50% {
		opacity: 1;
	}
	from, 39%, 51%, to {
		opacity: 0;
	}
}

/************************
*************************
************************/

.wp > div:nth-child(82) {
	-webkit-animation-name: div82;
			animation-name: div82;
}

@keyframes div82 {
	20%, 30%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(83) {
	-webkit-animation-name: div83;
			animation-name: div83;
}

@keyframes div83 {
	40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(84) {
	-webkit-animation-name: div84;
			animation-name: div84;
}

@keyframes div84 {
	60%, 70% {
		opacity: 1;
	}
	from, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(87) {
	-webkit-animation-name: div87;
			animation-name: div87;
}

@keyframes div87 {
	from, 10%, 20%, 30%, 60%, 70% {
		opacity: 1;
	}
	11%, 19%, 31%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(88) {
	-webkit-animation-name: div88;
			animation-name: div88;
}

@keyframes div88 {
	40%, 50% {
		opacity: 1;
	}
	from, 39%, 51%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(89) {
	-webkit-animation-name: div89;
			animation-name: div89;
}

@keyframes div89 {
	from, 10%, 40%, 50%, 80%, 90% {
		opacity: 1;
	}
	11%, 39%, 51%, 79%, 91%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(90) {
	-webkit-animation-name: div90;
			animation-name: div90;
}

@keyframes div90 {
	from, 10%, 20%, 30%, 60%, 70% {
		opacity: 1;
	}
	11%, 19%, 31%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(91) {
	-webkit-animation-name: div91;
			animation-name: div91;
}

@keyframes div91 {
	from, 10% {
		opacity: 1;
	}
	11%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(92) {
	-webkit-animation-name: div92;
			animation-name: div92;
}

@keyframes div92 {
	from, 10%, 20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	11%, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(93) {
	-webkit-animation-name: div93;
			animation-name: div93;
}

@keyframes div93 {
	20%, 30%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(94) {
	-webkit-animation-name: div94;
			animation-name: div94;
}

@keyframes div94 {
	20%, 30%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(95) {
	-webkit-animation-name: div95;
			animation-name: div95;
}

@keyframes div95 {
	20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(96) {
	-webkit-animation-name: div96;
			animation-name: div96;
}

@keyframes div96 {
	from, 10% {
		opacity: 1;
	}
	11%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(97) {
	-webkit-animation-name: div97;
			animation-name: div97;
}

@keyframes div97 {
	20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(98) {
	-webkit-animation-name: div98;
			animation-name: div98;
}

@keyframes div98 {
	20%, 30% {
		opacity: 1;
	}
	from, 19%, 31%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(99) {
	-webkit-animation-name: div99;
			animation-name: div99;
}

@keyframes div99 {
	20%, 30% {
		opacity: 1;
	}
	from, 19%, 31%, to {
		opacity: 0;
	}
}

.wp > div:nth-child(100) {
	-webkit-animation-name: div100;
			animation-name: div100;
}

@keyframes div100 {
	20%, 30%, 40%, 50%, 60%, 70% {
		opacity: 1;
	}
	from, 19%, 31%, 39%, 51%, 59%, 71%, to {
		opacity: 0;
	}
}