body {
	background-color: #E5EEF3;
	font-family: 'Open Sans';
	font-weight: 600;
}

#share {
	width: 150px;
	height: 50px;
	background-color: white;
	border-radius: 25px;
	position: relative;
	cursor: pointer;
}

#share .title {
	color: #EECE69;
	font-size: 15px;
	line-height: 16px;
	letter-spacing: 1px;
	position: absolute;
	top: 16px;
	left: 50px;
}